/vendor
/node_modules
PTWebSocket/node_modules
/.idea
/.vscode
/.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
__MACOSX
.DS_Store
Thumbs.db
/public2
